main {
  max-width: 1250px;
  margin: 10vh auto;
  border: 1px #d8064c outset;
}
h2 {
  color: #a10e46;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
  padding: 1em;
  border: none;
  background-color: #a10e4644;
  color: #12c4ca;
}
