main {
  max-width: 1250px;
  margin: 10vh auto;
  box-shadow: 0 5px 4px 2px purple, 0 5px 8px 4px #650343;
}
h2 {
  color: #a10e46;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 5px;
}

span.git_title {
  transform: translateY(4px);
}
span.git_title::first-letter {
  display: block;
  font-size: 40px;
  color: #e84e31;
}

p {
  padding: 1em;
  border: none;
  background-color: #a10e4644;
  color: #f815ff;
}

.flag {
  background-color: #650343;
  color: aliceblue;
}
